/* stylelint-disable custom-property-pattern */
* {
  background-color: #36393f;
  font-family: "Open Sans", sans-serif;
}

.message-container {
  height: 95vh;
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.message span {
  display: inline-table;
  margin-right: 0.5rem;
  color: var(--bs-gray-100);
  grid-column: 3;
}

div.message {
  padding-left: 0.5rem;
  display: grid;
  grid-template-columns: 70px 60px 1fr 20px 25px;
  grid-auto-flow: row dense;
}

div.message * {
  background-color: unset;

  --pencilColor: #36393f;
  --trashColor: #36393f;
}

div.message:hover {
  background-color: #2d3035;
}

div.message:hover * {
  --pencilColor: grey;
  --trashColor: #d7292c;
}

.chat-input {
  width: 100%;
  margin-top: 1.2rem;
  padding: 0.6rem 4rem;
  background-color: #40444b;
  color: var(--bs-gray-200);
  border: none;
  border-radius: 8px;
}

.chat-input:focus {
  outline: none;
}

.chat-input::placeholder {
  color: var(--bs-gray-400);
}

.fa-pencil {
  grid-column: 4;
  color: var(--pencilColor);
  margin-block: auto;
}

.fa-trash-can {
  grid-column: 5;
  margin-left: 0.3rem;
  color: var(--trashColor);
  margin-block: auto;
}

.modal-content {
  border: none;
}

.modal-header,
.modal-title,
.modal-body {
  background-color: #36393f;
}

.modal-header {
  color: white;
  border-bottom: 0;
}

.modal-body {
  color: var(--bs-gray-200);
}

.modal-footer {
  border-top: 0;
  background-color: #2f3136;
}

.btn-primary {
  background-color: #d83c3e;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  transition: background-color 0.17s ease;
}

.btn-primary:hover {
  background-color: #a12d2f;
}

.btn-link {
  text-decoration: none;
  color: var(--bs-gray-200);
  font-size: 0.8rem;
}

.btn-link:hover {
  color: var(--bs-gray-100);
  text-decoration: underline;
}

div.fade,
.modal-dialog-centered {
  background: none;
}

.modal-backdrop.show {
  background: black;
  opacity: 0.88;
}

.modal-title > span {
  font-size: 0.9rem;
}

.modal-title > h4 {
  /* font-weight: bold; */
  margin-top: 0;
  margin-bottom: 0;
}

.message-card {
  display: grid;
  grid-auto-flow: row;
  border: 2px solid #2f3136;
  border-radius: 4px;
  padding: 0.7rem;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.message-card span:nth-child(1) {
  grid-row: 1;
  justify-self: right;
  color: var(--bs-gray-500);
  font-size: 80%;
}

.message-card span:nth-child(2) {
  grid-row: 1;
  grid-column: 1;
  font-weight: bold;
}

.message-card span:nth-child(3) {
  grid-row: 2;
  grid-column: 1/3;
}

.message span:nth-child(1) {
  color: var(--bs-gray-300);
  font-size: 80%;
  grid-column: 1;
  display: inline-block;
}

.message span:nth-child(2) {
  font-weight: bold;
  font-size: 95%;
  grid-column: 2;
  justify-content: center;
}
